.services {
    background: linear-gradient(135deg, #fffde7 0%, #e0f7fa 100%);
    padding: 40px 160px;
}
.services h1 {
    font-size: 50px;
}
.services hr {
    margin: 10px 0px;
}
.services p {
    line-height: 30px;
    font-size: 20px;
}

.retail, .wholesales {
    margin-top:25px;
}

.products {
    margin-top: 40px;
}

.product-items {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 150px;
}
.services b {
    font-size: 30px;
}

#eco-top-up{
    margin-top: 35px;
}

.how-it-works span {
    font-weight: bold;
}

.how-it-works ul li {
    margin-top: 5px;
    list-style: circle;
}

.why-refill{
    margin-top: 20px;
}
.why-refill ul li {
    margin-top: 5px;
}
.why-refill span{
    font-weight: bold;
}

.how-it-works{
    margin-top: 20px;
}


@media(max-width: 975px) {
    .services {
        padding: 40px 85px;
    }
    .services h1 {
        font-size: 30px;
    }
    .services hr {
        margin: 10px 0px;
    }
    .services p {
        line-height: 25px;
        font-size: 18px;
    }
    
    .retail, .wholesales {
        margin-top:20px;
    }
    
    .products {
        margin-top: 40px;
    }
    
    .product-items {
        display: flex;
        justify-content: space-between;
    }
    
    .card {
        display: flex;
        flex-direction: column;
    }
    
    .card img {
        width: 120px;
    }
    .services b {
        font-size: 25px;
    }
}

@media(max-width: 620px) {
    .services {
        padding: 20px 55px;
    }
    .product-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
    }
    
}

@media(max-width: 500px) {
    .services {
        padding: 25px 35px;
    }
    .services h1 {
        font-size: 25px;
    }
    .services p {
        line-height: 25px;
        font-size: 16px;
    }
    
    .retail, .wholesales {
        margin-top:20px;
    }
    
    .products {
        margin-top: 30px;
    }
    
    .product-items {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 80px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
    }
    
    .card img {
        width: 150px;
    }
    .services b {
        font-size: 20px;
    }
}