.hero {
    padding: 100px 120px 140px 120px;
    background: linear-gradient(135deg, #fff9c4 0%, #f1f8e9 100%);
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-section {
    width: 50vw;
}
.left-section h1 {
    font-size: 47px;
    margin-bottom: 5px;
}
.left-section h3 {
    font-size: 17px;
    margin-bottom: 10px;
}
.left-section p{
    font-size: 19px;
    line-height: 23px;
}

.right-section img {
    width: 350px;
}

@media(max-width: 975px) {
    .hero {
        padding: 50px 70px 80px 70px;
    }
    .left-section {
        width: 50vw;
    }
    .left-section h1 {
        font-size: 32px;
    }
    .left-section h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .left-section p{
        font-size: 18px;
        line-height: 23px;
    }

    
    
    .right-section img {
        width: 300px;
    }

}

@media(max-width: 920px) {
    .right-section {
            display: none;
    }
    .left-section {
        width: 100%;
    }
} 

@media(max-width: 665px) {
    .hero {
        padding: 30px 50px 60px 50px;
    }
}

@media(max-width: 600px) {
    .hero {
        padding: 30px 40px 60px 40px;
    }
    .left-section h1 {
        font-size: 26px;
        margin-bottom: -1px;
    }

    .left-section h3 {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .left-section p{
        font-size: 14px;
        line-height: 18px;
    }
}

@media(max-width: 480px) {
    .hero {
        padding: 30px 35px 30px 35px;
    }
    .left-section h1 {
        font-size: 23px;
    }

    .left-section h3 {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .left-section p{
        font-size: 16px;
        line-height: 20px;
    }
}
